/* common.css */

@font-face{
	font-family: 'NanumBarunGothic';
	src:	url(../fonts/NanumBarunGothicLight.ttf),
			url(../fonts/NanumBarunGothic.ttf),
			url(../fonts/NanumBarunGothicBold.ttf)
}

*{
	margin: 0;
	padding: 0;
}
html, body{
	font: 14px / normal sans-serif, 'NanumBarunGothic';
	color: #444;
}
table, tr, th, td{
	font: 14px / normal sans-serif, 'NanumBarunGothic';
	color: #444;
	border-collapse: collapse;
}
input, select, option, textarea, button{
	font: 14px / normal sans-serif, 'NanumBarunGothic';
	color: #444;
	border: 0 none;
	border-radius: 0;
	box-shadow: 0;
	background: #fff;
	outline: none;
}
h1, h2, h3, h4, h5, h6{
	font-size: 1.0rem;
	font-weight: normal;
}
strong, b{
	font-weight: normal;
}
em, i, address{
	font-style: normal;
	font-weight: normal;
}
img, iframe, frameset, fieldset{
	border: 0 none;
}
ul, ol, li{
	list-style: none;
}
img, a, label, iframe{
	display: block;
}
hr, legend, caption{
	display: none;
}
a{
	text-decoration: none;
	color: #444;
}
input[type=radio]{ 
	display: none;
}

/**** CLASS ***********************/
.blind, .skip{
	display: block;
	height: 0;
	overflow: hidden;

	position: absolute;
	top: -6000px;
}