/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles *********************************/ 
#wrap .slider{
	overflow: hidden;
}

@media screen and ( min-width: 1367px){
#wrap .slider{
	margin-top: 0;
}
}
@media screen and ( max-width: 1366px){
#wrap .slider{
	position: relative;
	z-index: 5;/*header css z-index�� �좉꼍 �⑥빞 ��*/
	padding-top: 0;
}
}/* �띿꽦�� 媛숆린 �뚮Ц�� ( min-width: 768px) ��젣 */
@media screen and ( max-width: 767px){
#wrap .slider{
	padding-top: 0;
}
}
.flexslider .slides > li {
	display: none; -webkit-backface-visibility: hidden;
}/* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform:capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {background: #fff; position: relative;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {
	width: 30px; height: 30px;
	margin: 0;
	display: block;
	background:url(../images/btn/bg_direction_nav.png) no-repeat 0 0;
	position: absolute;
	top: 50%; z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 1; 
	-webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
	background-position: 100% 0;
	right: 165px;
}
@media screen and ( max-width: 767px){
.flex-direction-nav .flex-next {
	right: 6px;
}
}
.flex-direction-nav .flex-prev {
	left: 165px;
}
@media screen and ( max-width: 767px){
.flex-direction-nav .flex-prev {
	left: 6px;
}
}
.flexslider:hover .flex-next {

}
.flexslider:hover .flex-prev {

}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
opacity: 1;
}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {
	width: 100%; height: 14px;
	position: absolute;
	top: 50%; margin-top: -78px;
	text-align: center;
}
.flex-control-nav li {
	margin: 40px 20%;
	zoom: 1;
	*display: inline;
}
@media screen and ( max-width: 1366px){
.flex-control-nav li {
	margin: 40px 10%;
}
}
.flex-control-paging li a {width: 6px; height: 6px; display: block; background: #fff; opacity: 0.7; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; transition-duration: 0.3s;}
.flex-control-paging li a:hover {
	background: #fff;
	opacity: 1;
}
.flex-control-paging li a.flex-active {
	background: #fff;
	opacity: 1;
	cursor: default;
}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: 0.7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 1366px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 5px;}
  .flex-direction-nav .flex-next {opacity: 1; right: 5px;}
}


@media screen and (min-width: 1367px){
	.flexslider .slides img.tablet,
	.flexslider .slides img.smart{
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 1366px){
	.flexslider .slides img.pc,
	.flexslider .slides img.smart{
		display: none;
	}
}

@media screen and (max-width: 767px){
	.flexslider .slides img.pc,
	.flexslider .slides img.tablet{
		display: none;
	}
}