1/* footer.css */

#footer{
	width: 1440px;
	margin: 0 auto;
}
@media screen and ( max-width: 1366px){
#footer{
	width: 100%;
}
}
	#footer > .footer_wrap{
		width: 1176px;
		margin: 0 auto;
	}
	@media screen and ( max-width: 1366px){
	#footer > .footer_wrap{
		width: 100%;
	}
	}
	/**�뚯궗 �뺣낫**/
	ul.footer_infor{
		width: 550px;
		margin: 0 auto;
		padding-top: 49px;
		padding-bottom: 53px;
	}
	@media screen and ( max-width: 767px){
	ul.footer_infor{
		width: 100%;
		position: relative;
		padding: 50px 0;
	}
	}
		ul.footer_infor > li{}
			ul.footer_infor > li.address{}
		@media screen and ( max-width: 767px){
		li.address{
			margin-bottom: 72px;
		}
		}
		li.address > ul > li{
			position: relative;
			text-align: center;
			font-size: 13px;
			letter-spacing: 0.5px;
			line-height: 32px;
		}
		@media screen and ( max-width: 767px){
		li.address > ul > li{
			letter-spacing: -1px;
			line-height: 21px;
		}
		}
		li.address > ul > li > span:nth-of-type(3)::after{
			top: 40px;
		}
		li.address > ul > li > span:nth-of-type(2)::after,
		li.address > ul > li > span:nth-of-type(4)::after{
			display: none;
		}
		li.policy{}
		@media screen and ( max-width: 767px){
		li.policy{
			width: 97px;
			position: absolute;
			right: 50%; bottom: 84px; 
			margin-right: -48.5px;
		}
		}
		li.policy > a{
			color: #3c9ce7;
			font-size: 13px;
			text-align: center;
			line-height: 32px;
		}
		@media screen and ( max-width: 767px){
		li.policy > a{
			font-size: 13px;
			letter-spacing: -2px;
		}
		}
		li.copyright{
			line-height: 32px;
			text-align: center;
		}
		@media screen and ( max-width: 767px){
		li.copyright{
			position: absolute;
			right: 50%; bottom: 50px;
			width: 210px;
			margin-right: -110px;
		}
		}

	/**�ъ씠�� �대룞**/
	ul.footer_site{
		width: 500px;
		margin: 0 auto;
	}
		ul.footer_site > li{
			float: left;
			margin-right: 10px;
			margin-bottom: 50px;
		}
		ul.footer_site > li:first-child{
			margin-left: 189px;
		}
		ul.footer_site > li:last-child{
			margin-right: 0;
		}
			ul.footer_site > li > a{
				width: 34px; height: 34px;
				text-indent: -6000px; overflow: hidden;
			}
			ul.footer_site > li > a.library{
				background: url(../images/icon/library.png) no-repeat;
			}
			ul.footer_site > li > a.blog{
				background: url(../images/icon/blog.png) no-repeat;
	}
			ul.footer_site > li > a.facebook{
				background: url(../images/icon/facebook.png) no-repeat;
			}
			ul.footer_site > li > a.library:hover{
				background: url(../images/icon/library_on.png) no-repeat;
			}
			ul.footer_site > li > a.blog:hover{
				background: url(../images/icon/blog_on.png) no-repeat;
	}
			ul.footer_site > li > a.facebook:hover{
				background: url(../images/icon/facebook_on.png) no-repeat;
			}