/* master.css */
@import url(header_pc.css) screen and ( min-width: 1367px);
@import url(header_mobile.css) screen and ( max-width: 1366px);
@import url(banner.css);
@import url(contents.css);
@import url(footer.css);

/**** RESET *************************/
input#toggle_menu, input#search, input#team_more{
	display: none;
}

#wrap{
	width: 1440px;
	margin: 0 auto;
}

@media screen and ( min-width: 1367px){
label.m_btn_close,
label.btn_menu,
select#m_lang,
ul.header_site,
label.team_more{
	display: none;
}
}/* PC */

@media screen and ( min-width: 768px) and ( max-width: 1366px){
}/* tablet pc */

@media screen and ( max-width: 1366px){
#wrap{
	width: 100%;
	margin: 0 auto;
}
#top_menu > #lang,
ul.footer_site{
	display: none;
}
}/* tablet pc, smart phone */

@media screen and ( max-width: 767px){
ul.box_wrap > li.box_service{
	display: none;
}
}/* smart phone */